[Desktop Entry]
Name=Obsidian
Comment=Markdown Notetaking App
GenericName=Text Editor
Type=Application
Exec=/usr/bin/Obsidian-1.5.11.AppImage %U
Icon=obsidian
StartupWMClass=obsidian
MimeType=x-scheme-handler/obsidian;
